<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>공지사항 게시판</title>
    <link rel="stylesheet" href="/css/Notice.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/footer.css" />

<!--    제이쿼리-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        a {
        text-decoration-line: none;
        }
    </style>
    <script>

$(document).ready(function() {
    var thisIndex = parseInt([[${searchVO.pageIndex}]]);

$(".pagination li a").each(function() {
    var idx = $(this).parent().index();
    var thistitle = $(this).attr("title");

    if (thistitle === thisIndex.toString()) {
        $(".pagination").find("li").eq(idx).addClass("active");
    }
});
});




function fn_go_page(pageNo) {
$("#pageIndex").val(pageNo);
$("#listForm").submit();
return false;
}

function fn_search(){
$("#pageIndex").val("1");
$("#listForm").submit();
return false;
}

</script>
</head>
<body>
<!-- header 시작 -->
<header th:replace="~{header/header}"></header>
<!-- header 끝 -->
    <div class="outer">
        <div class="wrap">
            <div class="board_area">
                <div class="board_title">
                    <h1>공지사항</h1>
                </div>

                <div class="board_list">
                    <ul class="board_header">
                        <li class="id">글번호</li>
                        <li class="category" style="width: 200px;">분류</li>
                        <li class="title">제목</li>
                        <li class="writer">작성자</li>
                        <li class="count">조회수</li>
                        <li class="date">작성일</li>
                    </ul>


<!--                    <ul th:each="noticeList : ${noticeList}" class="board_ul" onclick="">-->
<!--                        <li th:text="${noticeList.notice_num}" class="id" > </li>-->
<!--                        <li  class="category" style="width: 200px;"><span class="badge bg-primary">공지사항</span></li>-->
<!--                        <a><li th:text="${noticeList.notice_title}" class="title">이집봐라 사용자 이용 가이드</li></a>-->
<!--                        <li th:text="${noticeList.admin_id}" class="writer">공김정</li>-->
<!--                        <li  class="count">10</li>-->
<!--                        <li  th:text="${noticeList.notice_date}" class="date">2023-04-19</li>-->
<!--                    </ul>-->

                    <ul th:each="pg_list : ${pg_list}" class="board_ul" onclick="">
                        <li th:text="${pg_list.notice_num}" class="id" > </li>
                        <li  class="category" style="width: 200px;"><span class="badge bg-primary">공지사항</span></li>
                        <a th:href="@{'/notice_detail?notice_num=' + ${pg_list.notice_num}}"><li th:text="${pg_list.notice_title}" class="title">이집봐라 사용자 이용 가이드</li></a>
                        <li th:text="${pg_list.admin_id}" class="writer">공김정</li>
                        <li th:text="${pg_list.notice_hit}" class="count">10</li>
                        <li  th:text="${#strings.substring(pg_list.notice_date, 0, 10)}" class="date">2023-04-19</li>
                    </ul>



                </div>
                <!-- Paging[s] -->
                <form method="get"  id="listForm" action="/notice_list">
                    <input type="hidden" id="pageIndex" name="pageIndex" val="" />
                <div class="col-sm-12 col-md-7" style="text-align:center; margin: 0 auto;">

                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                        <ul class="pagination justify-content-center" style="align:center;">
                            <li th:if="${searchVO.prev}" class="paginate_button page-item previous" id="dataTable_previous">
                                <a href="javascript:void(0);" th:onclick="'fn_go_page(' + ${searchVO.startDate - 1} + '); return false;'" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">이전</a>
                            </li>
<!--                            <li th:each="num: ${#numbers.sequence(searchVO.startDate,searchVO.endDate)}" class="paginate_button page-item">-->
<!--                                <a href="javascript:void(0);" th:text="${num}" onclick="fn_go_page(num); return false;" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link" title="${num}">${num}</a>-->
<!--                            </li>-->
                            <li th:each="num: ${#numbers.sequence(searchVO.startDate,searchVO.endDate)}" class="paginate_button page-item">
                                <a href="javascript:void(0);" th:text="${num}" th:onclick="'fn_go_page(' + ${num} + '); return false;'"  aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link"  th:title="${num}">d</a>

                            </li>
                            <li th:if="${searchVO.next}" class="paginate_button page-item next" id="dataTable_next">
                                <a href="javascript:void(0);" th:onclick="'fn_go_page(' + ${searchVO.endDate + 1} + '); return false;'" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">다음</a>
                            </li>

                        </ul>
                    </div>

                </div>
                </form>
                <!-- Paging[e] -->

<!--                <ul class="board_paging">-->

<!--                    &lt;!&ndash; 첫페이지로  &ndash;&gt;-->
<!--                    <li>-->
<!--                        <a href="#">&lt;&lt;</a>-->
<!--                    </li>-->

<!--                    &lt;!&ndash; 이전 페이지로 &ndash;&gt;-->
<!--                    <li>-->
<!--                        <a href="#">&lt;</a>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a href="#" class=current_page>1</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#" class=current_page>2</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#" class=current_page>3</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#" class=current_page>4</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#" class=current_page>5</a>-->
<!--                    </li>-->

<!--                    &lt;!&ndash; 다음페이지로 &ndash;&gt;-->
<!--                    <li>-->
<!--                        <a href="#">&gt;</a>-->
<!--                    </li>-->

<!--                    &lt;!&ndash; 끝페이지로  &ndash;&gt;-->
<!--                    <li>-->
<!--                        <a href="#">&gt;&gt;</a>-->
<!--                    </li>-->
<!--                </ul>-->
                <div class="search_area">
                        <form method="get" action="/notice_list">
                        <select id="searchCondition" name="search" class="border border-secondary">
                            <option value="notice_title">제목</option>
                            <option value="notice_content">내용</option>
                            <option value="admin_id">작성자</option>
                        </select>

                        <span class="input_area">
                            <input type="search" name="searchValue">
                        </span>
                        <button type="submit">검색하기</button>
                        <a th:href="@{/notice_add}"><button type="button">작성하기</button></a>
                        </form>
                </div>

            </div>
        </div>
    </div>
    <!-- footer 시작 -->
    <footer th:replace="~{footer/footer}"></footer>
    <!-- footer 끝 -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>


    <script>
        const board_ul = document.querySelector('.board_list');
        board_ul.addEventListener('mouseover', function () {
            if (event.target.classList.contains("board_ul")) {
                event.target.classList.add('onmouseover');
            } else if (event.target.parentNode.classList.contains('board_ul')) {
                event.target.parentNode.classList.add('onmouseover');
            }
        })

        board_ul.addEventListener('mouseout', function () {
            if (event.target.classList.contains("board_ul")) {
                event.target.classList.remove('onmouseover');
            } else if (event.target.parentNode.classList.contains('board_ul')) {
                event.target.parentNode.classList.remove('onmouseover');
            }
        })

        function detailView(bid) {
            location.href = '${contextPath}/board/detailView?bid=' + bid;
        }

    </script>
</body>

</html>