@charset "UTF-8";

@font-face {
  font-family: "dabang";
  src:url("fonts/dabang.eot");
  src:url("fonts/dabang.eot?#iefix") format("embedded-opentype"),
    url("fonts/dabang.woff") format("woff"),
    url("fonts/dabang.ttf") format("truetype"),
    url("fonts/dabang.svg#dabang") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "dabang" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dabang-icon-"]:before,
[class*=" dabang-icon-"]:before {
  font-family: "dabang" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dabang-icon-1room:before {
  content: "\e000";
}
.dabang-icon-apartment:before {
  content: "\e001";
}
.dabang-icon-camera:before {
  content: "\e002";
}
.dabang-icon-car:before {
  content: "\e003";
}
.dabang-icon-circle:before {
  content: "\e004";
}
.dabang-icon-close:before {
  content: "\e005";
}
.dabang-icon-close-circle:before {
  content: "\e006";
}
.dabang-icon-close-circle-o:before {
  content: "\e007";
}
.dabang-icon-close-square:before {
  content: "\e008";
}
.dabang-icon-credit-card:before {
  content: "\e009";
}
.dabang-icon-delegate:before {
  content: "\e00a";
}
.dabang-icon-envelope:before {
  content: "\e00b";
}
.dabang-icon-exclamation-circle:before {
  content: "\e00c";
}
.dabang-icon-eye:before {
  content: "\e00d";
}
.dabang-icon-facebook-circle:before {
  content: "\e00e";
}
.dabang-icon-heart:before {
  content: "\e00f";
}
.dabang-icon-home:before {
  content: "\e010";
}
.dabang-icon-home-search:before {
  content: "\e011";
}
.dabang-icon-home-star:before {
  content: "\e012";
}
.dabang-icon-home-up:before {
  content: "\e013";
}
.dabang-icon-map-pin:before {
  content: "\e014";
}
.dabang-icon-map-pin-o:before {
  content: "\e015";
}
.dabang-icon-officetel:before {
  content: "\e016";
}
.dabang-icon-pencil:before {
  content: "\e017";
}
.dabang-icon-pet:before {
  content: "\e018";
}
.dabang-icon-phone:before {
  content: "\e019";
}
.dabang-icon-photo:before {
  content: "\e01a";
}
.dabang-icon-plus-circle:before {
  content: "\e01b";
}
.dabang-icon-refresh:before {
  content: "\e01c";
}
.dabang-icon-remove:before {
  content: "\e01d";
}
.dabang-icon-road-view:before {
  content: "\e01e";
}
.dabang-icon-siren:before {
  content: "\e01f";
}
.dabang-icon-twitter-circle:before {
  content: "\e020";
}
.dabang-icon-plus:before {
  content: "\e021";
}
.dabang-icon-subway:before {
  content: "\e022";
}
.dabang-icon-rotate-square:before {
  content: "\e023";
}
.dabang-icon-search:before {
  content: "\e024";
}
.dabang-icon-check-circle-large:before {
  content: "\e025";
}
.dabang-icon-heart-o:before {
  content: "\e026";
}
.dabang-icon-map:before {
  content: "\e027";
}
.dabang-icon-sort-up:before {
  content: "\e028";
}
.dabang-icon-th-large:before {
  content: "\e029";
}
.dabang-icon-calendar:before {
  content: "\e02a";
}
.dabang-icon-user:before {
  content: "\e02b";
}
.dabang-icon-comment:before {
  content: "\e02c";
}
.dabang-icon-filter:before {
  content: "\e02d";
}
.dabang-icon-sort-desc:before {
  content: "\e02e";
}
.dabang-icon-caret-right:before {
  content: "\e02f";
}
.dabang-icon-refresh-o:before {
  content: "\e030";
}
.dabang-icon-2room:before {
  content: "\e031";
}
.dabang-icon-chat:before {
  content: "\e032";
}
.dabang-icon-chart:before {
  content: "\e033";
}
.dabang-icon-cash:before {
  content: "\e034";
}
.dabang-icon-3room:before {
  content: "\e035";
}
.dabang-icon-angle-down:before {
  content: "\e036";
}
.dabang-icon-angle-left:before {
  content: "\e037";
}
.dabang-icon-angle-right:before {
  content: "\e038";
}
.dabang-icon-angle-up:before {
  content: "\e039";
}
.dabang-icon-stop:before {
  content: "\e03a";
}
.dabang-icon-deposit:before {
  content: "\e03b";
}
.dabang-icon-lease:before {
  content: "\e03c";
}
.dabang-icon-map-view:before {
  content: "\e03d";
}
.dabang-icon-mothly:before {
  content: "\e03e";
}
.dabang-icon-arrows-v:before {
  content: "\e03f";
}
.dabang-icon-check-square-large:before {
  content: "\e040";
}
.dabang-icon-blog-circle:before {
  content: "\e041";
}
.dabang-icon-current-location:before {
  content: "\e042";
}
.dabang-icon-pin:before {
  content: "\e043";
}
.dabang-icon-university:before {
  content: "\e044";
}
.dabang-icon-badge:before {
  content: "\e045";
}
.dabang-icon-time2:before {
  content: "\e046";
}
.dabang-icon-time1:before {
  content: "\e047";
}
.dabang-icon-refresh-square:before {
  content: "\e048";
}
.dabang-icon-actualprice:before {
  content: "\e049";
}
.dabang-icon-question:before {
  content: "\e04a";
}
.dabang-icon-expand:before {
  content: "\e04b";
}
.dabang-icon-rotate:before {
  content: "\e04c";
}
.dabang-icon-rotate-square-02:before {
  content: "\e04d";
}
.dabang-icon-check-circle:before {
  content: "\e04e";
}
.dabang-icon-check:before {
  content: "\e04f";
}
.dabang-icon-check2:before {
  content: "\e050";
}
.dabang-icon-lock:before {
  content: "\e051";
}
