.mar {
    margin-left: 40px; 
    margin-right: 40px;
}

.mar2 {
    margin-left: 45px; 
    margin-right: 40px;
}

.mar-b1 {
    margin-bottom: 8px;
    width: 100%;
    text-align: right;
}

.mar-b {
    margin-bottom: 8px;
    margin-bottom: 8px;
    width: 100%;
    text-align: right;
}

.mar-r {
    float: left;
}

.mar-r2 {
    margin-right: 145px;
}

.mar-b-6 {
    margin-bottom: 6px;
}

ul{
    list-style:none;
}

/*
    Default Style
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');
:root {
    --body-font: 'Poppins', sans-serif;
}

* {
    font-family: var(--body-font);
}

.single-progressbar .title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.single-progressbar {
    margin-bottom: 30px;
}

.card {
    margin-bottom: 30px;
}

.card .card-header .title {
    font-size: 18px;
    font-weight: 600;
    padding: 0;
}

.card .card-body code {
    background-color: #efecec;
    padding: 10px;
    border-radius: 3px;
}

.margin-top-60 {
    margin-top: 60px;
}

ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 40px;
}

ul.menu li {
    display: inline-block;
}

ul.menu li a {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    transition: all 500ms;
    text-decoration: none;
}

ul.menu li a:hover {
    color: #fc4444;
}

ul.menu li+li {
    margin-left: 25px;
}